.centered-box {
    display: flex;
    justify-content: center;
   flex-direction: column;

   align-items: center;
  }

  #menu {
      display: flex;
      justify-content: center;
      background-color: rgb(247, 247, 247);

  }

  .button {
      padding: 15px;
      cursor: pointer;
  }

  #history {
      display: flex;
  }

  .extend_half {
      flex-grow: 1;
  }

  #history_text {
      padding: 24px;
  }

  .img { 
    max-width: 100%; 
    height: auto; 
}

.social {
    margin-top: 20px;
}


  